# Copy to .env and adjust values (CI/grader will set these)
BLUE_IMAGE=yimikaade/wonderful:devops-stage-two
GREEN_IMAGE=yimikaade/wonderful:devops-stage-two

# Active pool default: blue or green
ACTIVE_POOL=blue

# Release IDs to be returned in X-Release-Id
RELEASE_ID_BLUE=blue-v1
RELEASE_ID_GREEN=green-v1

# Port the app listens on inside container (apps MUST honor this)
PORT=8080
